body{
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.itens{
    justify-content: center;
    display: flex;    
}
.perfil{
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    font-family: 'Playfair Display', serif;
    color: white;
}
.perfil .nome{
    font-family: 'Suez One', serif;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.perfil img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: solid 3px;
    border-color: black;
}
.redessociais a{
    color:white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    border-color: white;
    border: solid 2px;
    border-radius: 5%;
    width: 100px;
    text-align: center;
}
.redessociais a:hover{
    color: slateblue;
    background-color: white;
}
 @media only screen and (max-width: 768px){
    body{
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(bg2.jpg);
        overflow: hidden;
    }
    .perfil{
        font-size: 12px;
        color: white;
    }
    .perfil img{
        width: 20%;
        height: 20%;
        border-radius: 50%;
        border: solid 3px;
        border-color: black;
    }
    .redessociais a{
        font-size: 12px;
        text-align: center;
        width: 12%;
    }
 }